  /* header.css의 스타일 적용 */
  .headerWrapper {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-grow: 1;
}
.headerContainer img {
    height: 60px;
    width: auto;
}